/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
$body-background-color: #fdfdfd;
$text-color: #222;
$positive-change: #00ae00;
$negative-change: #e00000;
$odd-row-background: #e3f3ff;
